/* colour pallet idea https://colorhunt.co/palette/ecf8f9068da97e1717e55807 */
/* #5C8984 dark green*/

.sale-data{
    font-family: Arial, Helvetica, sans-serif;
}

*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    background-color: #ECF8F9;
    color: black;
}

.boxes{
    background-color: #2CD3E1;
}

h1{
    background-color: #068DA9;
    color: #7E1717 ;
    font-family: 'Handlee', cursive;
    text-align: center;
}

h2{
    background-color: #E55807;
    color: wheat;
    text-align: center;

}

nav{
    background-color: #5C8984;
    text-align: center;
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    left: 30px;
    margin-bottom: 1rem;
    object-fit: cover;
    border-style: double;
}


table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    background-color: #2CD3E1;  
    margin-bottom: 6rem;
    height: auto;
    width: 90%;
    overflow-x: auto; 
}


th,
td {
    padding: .5rem;
    
}

article{
    width: 100%;
    overflow-x: auto;
}