/* colour pallet idea https://colorhunt.co/palette/ecf8f9068da97e1717e55807 */
/* #5C8984 dark green*/

body{
    background-color: #ECF8F9;
    color: black;
}

h1{
    background-color: #068DA9;
    color: #7E1717 ;
}

h2{

}

nav{
    background-color: #5C8984;
}

